body{
    background-color: beige;
}

.apropos{
    font-size: xx-large;
    color: blue;
}

.contact p {
    font-size: 16px;
    color: rgb(246, 158, 222);
}

.contact h1 {
    font-size: 56px;
    color: rgb(208, 249, 221);
}